

<%= bootstrap_devise_error_messages! %>
<div class="row register-form">
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal custom-form">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
                <h1>User Profile</h1>
                <h4><%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h4>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :email, class: 'control-label'  %>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.email_field :email, autofocus: true, class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :first_name, class: 'control-label' %>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.text_field :first_name, class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :last_name, class: 'control-label' %>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.text_field :last_name, class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :hours_worked_per_week, class: 'control-label' %>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.number_field :hour_worked_per_week, class: "form-control", min: 0, value: f.object.hour_worked_per_week || '1' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :no_of_weeks_holiday_per_year, class: 'control-label' %>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.number_field :no_of_week_holiday_per_year, class: "form-control", min: 0 %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :password, class: 'fontrol-label' %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :password_confirmation, class: 'control-label' %>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.password_field :password_confirmation, class: "form-control" %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 label-column">
                        <%= f.label :current_password, class: 'control-label' %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
                    </div>
                    <div class="col-sm-6 input-column">
                        <%= f.password_field :current_password, class: "form-control" %>
                    </div>
                </div>
                <%= f.submit t('.update', :default => "Update"), class: "btn btn-default submit-button" %><br>
                <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>
                <br>
                <%= link_to t('.back', :default => 'Back'), :back %>
            </form>
            <% end %>
        </div>
    </div>