
  <div class="form-group">
    <div class="container">
      <% if@recipe.errors.any? %>
      <h2>The following errors prevented the recipe from getting created</h2>
      <ul>
          <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>
      <% end %>
      
    <%= simple_form_for @recipe, defaults: {input_html: {multipart: true, class:'form-control'}}  do |f| %>
      <%= f.input :title, label: 'Recipe Name' %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
      <%= f.input :description, input_html: {rows:'3'} %>
      <div class="col-md-4 no-padding">
        <%= f.input :rate_per_hour %></div>
      <div class="col-md-4 no-padding left-padding">
        <%= f.input :time_spent_in_hour %></div>
      <div class="col-md-4 no-padding left-padding">
      <%= f.input :percentage_profit, label: 'Optional percentage profit to add' %></div>
      
      <div class="container">
        <h2><strong>Ingredients</strong></h2>
          <h2><strong></strong></h2>
        <table class="table">
          <thead>
            
          </thead>
          <tbody id="recipe_ingredients">
            <%= f.simple_fields_for :recipe_ingredients, defaults: {input_html: {class:'form-inline'}} do |recipe_ingredient| %>
              <%= render 'recipe_ingredient_fields', :f => recipe_ingredient %>
            <% end %>
            <%= link_to_add_association 'Add an Ingredient',f, :recipe_ingredients, :"data-association-insertion-node" => "tbody#recipe_ingredients", :"data-association-insertion-method" => "append", :partial => "recipe_ingredient_fields", :class => "btn btn-default" %>
          </tbody>
        </table>
      </div>
      
      <br>
      <div class="container">
        <%= f.button :submit, :disable_with => 'Please wait ...', :class => 'btn-primary btn-lg' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    recipes_path, :class => 'btn btn-default btn-lg' %>
      </div>
      
      </div>
    <% end %>
  </div>
 <script type="text/javascript">
    $('#recipe_image').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5){
        alert('Maximum file size is 5MB. ');
      }
    });
  </script>
  