



<div class="row">
  <div class="col-md-10">
    <div class = "panel panel-default" style="background-color:#ffffff">
      <div class="panel-body">
        
        
        <% if@recipe.errors.any? %>
        <div class="row">
            <div class="panel panel-danger">
              <div class="panel-heading">
                <h2 class="panel-title">
                  <%= pluralize(@recipe.errors.count, "error") %>
                  prohibited this recipe from being saved:
                </h2>
                <div class="panel-body">
                  <ul>
                    <% @recipe.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
        </div>
        <% end %>
        
       
        
      <%= simple_form_for @recipe, defaults: {input_html: {multipart: true, class:'form-horizontal'}}  do |f| %>
      
        <%= f.input :title,hint: 'Recipe Name ', input_html: {class: 'form-control'} %>
        <br>
        <%#= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', input_html: {class: 'form-control'} %>
        <br>
        <%= f.input :description, input_html: {rows:'3', class: 'form-control'} %>
        <br>
        <div class="row">
        <div class="col-md-3 no-padding">
          <%= f.input :serving_number, input_html: {class: 'form-control', min: 0}, hint: 'Approximate number of serving.' %></div>
        <div class="col-md-3 no-padding left-padding">
          <%= f.input :rate_per_hour, input_html: {class: 'form-control', min: 0}, hint: 'Your hourly wage.' %></div>
        <div class="col-md-3 no-padding left-padding">
          <%= f.input :time_spent_in_hour, input_html: {class: 'form-control', min: 0}, hint: 'Time take for you to make this recipe.' %></div>
        <div class="col-md-3 no-padding left-padding">
          <%= f.input :percentage_profit, input_html: {class: 'form-control', min: 0}, label: 'Optional percentage profit to add', hint: 'Value in percentage(%).' %>
        </div></div>
        <br><br>
        
        
        <div class="row">
        <div class="container-fluid">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#Ingredient" data-toggle="tab"><strong>Ingredients</strong></a></li>
            <li><a href="#Material" data-toggle="tab"><strong>Non-food items/Material</strong></a></li>
          </ul>
          
          <div class="tab-content">
            <div class="tab-pane fade in active" id="Ingredient">
                <h2><strong>Ingredients</strong></h2>
                <div class= "table-responsive">
                  <table class="table">
                    <thead>
                      <th>quantity</th>
                      <th>Ingredient Name</th>
                      <th>Purchase price</th>
                      <th>Purchase Volume</th>
                      <th>unit</th>
                    </thead>
                    <tbody id="recipe_ingredients">
                      <%= f.simple_fields_for :recipe_ingredients, defaults: {input_html: {class:'form-inline'}} do |recipe_ingredient| %>
                        <%= render 'recipe_ingredient_fields', :f => recipe_ingredient %>
                      <% end %>
                      <%#= link_to_add_association 'Add an Ingredient',f, :recipe_ingredients, :"data-association-insertion-node" => "tbody#recipe_ingredients", :"data-association-insertion-method" => "append", :partial => "recipe_ingredient_fields", :class => "btn btn-default" %>
                    </tbody>
                    
                  </table>
                  </div>
                <%= link_to_add_association 'Add an Ingredient',f, :recipe_ingredients, :"data-association-insertion-node" => "tbody#recipe_ingredients", :"data-association-insertion-method" => "append", :partial => "recipe_ingredient_fields", :class => "btn btn-default custom-small-button" %>
                    
            </div>
            <div class="tab-pane fade in" id="Material">
                <h2><strong>Non-food items</strong></h2>
                <table class="table">
                  <thead>
                  </thead>
                  <tbody id="recipe_materials">
                    <%= f.simple_fields_for :recipe_materials, defaults: {input_html: {class:'form-inline'}} do |recipe_material| %>
                      <%= render 'recipe_material_fields', :f => recipe_material %>
                    <% end %>
                    <%#= link_to_add_association 'Add an Ingredient',f, :recipe_ingredients, :"data-association-insertion-node" => "tbody#recipe_ingredients", :"data-association-insertion-method" => "append", :partial => "recipe_ingredient_fields", :class => "btn btn-default" %>
                  </tbody>
                  
                </table>
                <%= link_to_add_association 'Add Material',f, :recipe_materials, :"data-association-insertion-node" => "tbody#recipe_materials", :"data-association-insertion-method" => "append", :partial => "recipe_material_fields", :class => "btn btn-default custom-small-button" %>
              
            </div>
          </div>
        </div>
        </div>
        
        <br>
        
        <div class="pull-right">
            <%= link_to 'Cancel', recipes_path, class: "btn btn-default custom-cancel-button" %>
            <%= f.button :submit, :disable_with => 'Please wait ...', :class => 'custom-main-button' %>
        </div>
        
      <% end %>
      </div>
      </div>
   </div>
</div>
