<% if@recipe.errors.any? %>
<h2>The following errors prevented the recipe from getting created</h2>
<ul>
    <% @recipe.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>


<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :title %>
    <br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <br/>
    <%= f.text_field :description %>
  </div>
  <h3>Ingredientss</h3>
  <div id='ingredients'>
    <%= f.fields_for :ingredients do |ingredient| %>
      <%#= render 'ingredient_fields', :f => ingredient %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'add ingredient', f, :ingredients %>
    </div> 
  </div>

    <%= f.submit 'Create', class: "btn btn-lg btn-success" %>
<% end %>


<p>
    <%#= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :ingredient_name do |cb| %>
        <%# cb.label {cb.check_box + cb.text} %>
    <%# end %>
</p>



<%= link_to "Back to recipes listing", recipes_path %>