  <div class='nested-fields'>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
      
        <%= f.label :purchase_price %>
        <%= f.number_field :purchase_price, step: 'any' %>
    
        <%= f.label :purchase_weight_or_volume %>
        <%= f.number_field :volume %>
    
        <%= f.label :unit %>
        <%= f.text_field :unit %>
    </div>
    <div class="field">
      <%#= f.check_box :done %>
      <%#= f.label :done %>
    </div>
    <%= link_to_remove_association "remove ingredient", f , class:'btn btn-xs btn-success'%>
  </div>