<tr class="nested-fields" id="recipe_ingredients">
<td>
  <%= f.label :new_ingredient_name %>
  <%= f.text_field :name, class: "form-control" %>
</td>
<td>
  <%= f.label :purchase_price %>
  <%= f.number_field :purchase_price, class: "form-control" %>
</td>
<td>
  <%= f.label :purchase_volume %>
  <%= f.number_field :volume, class: "form-control" %>
</td>
<td>
  <%= f.label :unit %>
  <%= f.text_field :unit, class: "form-control" %>
</td>
</tr>