<div id="ingredient-lookup">
    <h3>Search for Ingredients</h3>
    <%= form_tag search_ingredients_path, remote: true, method: :get, id: 'ingredient-lookup-form' do %>
    <div class="form-group row no_padding text-center col-md-12">
        <div class="col-md-8">
            <%= text_field_tag :ingredient, params[:ingredient], placeholder: "Ingredient name", autofocus: true,
                                                                        class: 'form-control search-box input-lg' %>
        </div>
        <div class="col-md-2">
            <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
                <i class="fa fa-search"></i><i>Look up an ingredient</i>
            <% end %>
        </div>
    </div>
    <% end %>
    <%= render 'common/spinner' %>
    <% if !@ingredient.name.nil? %>
        <%#= object do |obj| %>
        <div id="ingredient-lookup-results" class="well results-block">
            <strong>Name:</strong> <%= @ingredient.name %>
            <strong>Purchase Price:</strong> <%= @ingredient.purchase_price %>
            <strong>Unit:</strong> <%= @ingredient.unit %>
            <strong>Price per unit:</strong> <%= @ingredient.price %>
            <%#= link_to "view", recipe_ingredients_path(recipe_id: params[:recipe], ingredient_name: @ingredient.name, 
                ingredient_id: @ingredient.id ? @ingredient.id : ''), class:'btn btn-xs btn-success', method: :post %>
                <%= link_to "Add to this recipe", recipe_ingredients_path(recipe_id: g.id, ingredient_id: @ingredient.id), class: 'btn btn-primary btn-xs', method: :post %>
        </div>
        <%# end %>
    <% end %>
    <div id="ingredient-lookup-errors"></div>
</div>