
<div class="form-group">
    <div class="container-fluid">
    <div class="row">
      <div>
          <div class="nested-fields">
            <%= f.label :new_material_name %>
            <%= f.text_field :material_name, class: "form-control" %>
            
            <%= f.label :purchase_price %>
            <%= f.text_field :purchase_price, class: "form-control" %>
            
            <%= f.label :purchase_volume %>
            <%= f.text_field :purchase_quantity, class: "form-control" %>
            
          </div>
        </div>
    </div>
    </div>
  </div>
