<% f.each do |material| %>
        <tr>
        <td><%= material.material_name %></td>
        <td><%= number_to_currency(material.purchase_price, :unit => "RM") %></td>
        <td><%= material.purchase_quantity %></td>
        <td><%= number_to_currency(material.price, :unit => "RM") %></td>
        <td>
            <%= link_to "Add to this recipe", recipe_materials_path(recipe_id: g.id, material_id: material.id), class: 'btn btn-primary btn-xs', method: :post %>
        </td>
        </tr>
<% end %> 