

<tr class="nested-fields recipe-material-fields">
  <td class="material_quantity">
    <%= f.input :quantity, label: false, placeholder: 'Quantity/Amount', input_html: {class:'form-control',min: 0} %>
  </td>
        <script>
          $('.recipe_select').on('change', function(){
            var bapak = $(this).closest(".nested-fields");
            console.log(bapak);
            // alert( $(this).find(":selected").val() );
            // $('#ayam').value(result.price)
            // console.log($(this).find(":selected").attr("data-price"));
             $(bapak).find('.purchase_price_text').val($(this).find(":selected").attr("data-price"));
             $(bapak).find('.volume_text').val($(this).find(":selected").attr("data-volume"));
          });
        </script>
        
        <% if f.object.material.nil? %>
          <td class = "nested-field recipe-material-fields links">
            <div class = "material_from_list">
              <%= f.association :material, collection: current_user.materials.order(:material_name).map { |g| [g.material_name, g.id, {'data-price' => g.purchase_price, 'data-volume' => g.purchase_quantity}] }, :prompt => 'Choose an existing material', label: false, input_html: {class:'form-control recipe_select', id:'recipe_select' } %>
            </div>
            <%= link_to_add_association 'OR Create New', f, :material, :class => 'btn btn-sm custom-small-new-button'%>
          </td>
            <%= f.simple_fields_for :material do |g| %>
              <td>
                <%= g.input :purchase_price, label: false, placeholder: 'Purchase price', input_html: {class: "form-control purchase_price_text"} %>
                <%= g.input :user_id, as: :hidden, :input_html => { :value => current_user.id } %>
              </td>
              <td>
                <%= g.input :purchase_quantity, label: false, placeholder: 'Purchase quantity', input_html: { class: "form-control volume_text"} %>
              </td>
            <% end %>
        <% else %>
          <%= f.simple_fields_for :material do |g| %>
            
              <td>
                <%= g.input :material_name, label: false, placeholder: 'New Material name', input_html: { class: "form-control" } %>
                <%= g.input :user_id, as: :hidden, :input_html => { :value => current_user.id } %>
              </td>
              <td>
                <%= g.input :purchase_price, label: false, placeholder: 'Purchase price', input_html: {class: "form-control", min: 0} %>
              </td>
              <td>
                <%= g.input :purchase_quantity, label: false, placeholder: 'Purchase price', input_html: { class: "form-control", min: 0} %>
              </td>
            <% end %>
        <% end %>
        
        
        
  <td class="material_from_list"><%#= f.association :material,label_method: :material_name, collection: current_user.materials.order(:material_name), :prompt => 'Choose an existing material', label: false, input_html: {class:'form-control'} %></td>

    <% if f.object.quantity.nil? && f.object.material.nil?%>
      <td class="nested-field recipe-material-fields">
      <%= link_to_add_association 'OR Create New', f, :material, :class => 'btn btn-sm custom-small-new-button'%>
      </td>
    <% else %>
    
    <% end %>
  <td class="col-md-1"><%= link_to_remove_association "", f, :class => 'btn btn-danger btn-sm fa fa-trash'%></td>
</tr>