<h1><i class="fa fa-cutlery" aria-hidden="true"></i> Recipes </h1>

<div class="row">
<div class="container col-md-10">
    <div class = "pull-right">
    <%= link_to raw("<i class=\"fa fa-list\" aria-hidden=\"true\"> List</i>"), 
          recipes_path, 
          class: "btn btn-default" %>
          <%= link_to 'Add Recipe', new_recipe_path, :class => 'btn custom-new-button' %>
</div>
    <div class="row">
        <div class="text-center">
            
        </div>
            <div align="center">
                <%= will_paginate %>
            </div>
    </div>
    <br>
    <br>

    <div class="row" id="container_recipes">
        <%= render @recipes %>
    </div>
            <div align="center">
                <%= will_paginate%>
            </div>
</div>
</div>