<h1>Showing selected recipe</h1>

<h3>
    Recipe name: <%= @recipe.title %>
</h3>

<p>
    Description: <%= @recipe.description %>
</p>

<p>
    Instructions: <%= @recipe.instructions %>
</p>

<p>
    Cost of recipe: <%= @recipe.cost %>
</p>
<h2>Ingredients</h2>
<% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
<% end %>
<h4>preview testing</h4>
<% if @recipe.ingredients.any? %>
<p>
    Ingredients: <li><%= render @recipe.ingredients %></li><br>
    Quantity: <%= render @recipe.recipe_ingredients %>
</p>
<% end %>




<%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>  |  <%= link_to "Back to recipes listing", recipes_path %>