<%- model_class = Recipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> <%= @recipe.title %></h1>
  <div class = "row">
  <div class="col-md-10">
    <div class = "pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                recipes_path, :class => 'custom-cancel-button'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_recipe_path(@recipe), :class => 'custom-main-button' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  recipe_path(@recipe),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'custom-delete-button' %>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class = "panel panel-default" style="background-color:#ffffff">
      <div class="panel-body">

<div class = "row">
  <div class="col-md-10">
    <div class = "container">
      <dl class = "dl-horizontal">
        <dd><%= image_tag(@recipe.image.url, size: "250x150") if @recipe.image? %></dd>
        <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
        <dd><%= @recipe.title %></dd>
        <br>
        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= @recipe.description %></dd>
      </dl>
    </div>
  </div>
</div>
<hr>


    
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#Ingredient" data-toggle="tab"><strong>Ingredients</strong></a></li>
        <li><a href="#Material" data-toggle="tab"><strong>Materials</strong></a></li>
      </ul>
      
      <div class="tab-content">
        <div class="tab-pane fade in active" id="Ingredient">
          <br>
          
      
          
          
          
          
          
          
          
        		<button type="button" class="btn btn-secondary custom-button" data-toggle="modal" data-target="#viewingredient">
              View All Ingredients
            </button>
            <br><br>
                      <!-- Modal -->
                    
                      <div class="modal fade" id="viewingredient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">List of Ingredients</h4>
                          </div>
                          <div class="modal-body">
                            <div class="field">
                              <div class="table-responsive">
                              <table class="table table-striped" id="ingredients_list">
                                <thead>
                                <tr>
                                    <th>Ingredient Name</th>
                                    <th>Purchase price</th>
                                    <th>Purchase weight or volume</th>
                                    <th>Unit</th>
                                    <th>Price per single unit</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody id="container_ingredients_list">
                                    <%= render 'ingredient_list', f: @ingredients, g: @recipe %>
                                </tbody>
                              </table>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="viewingredientclose">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- Modal -->
                  <div class="table-responsive">
                    <table class="table table-striped" id="recipe_ingredient">
                      <thead>
                      <tr>
                          <th>Ingredient Name</th>
                          <th>Unit</th>
                          <th>Quantity</th>
                          <th>Cost to buy ingredients</th>
                      </tr>
                      </thead>
                      <tbody id="container_recipe_ingredient">
                          <%= render 'ing', f: @recipe %>
                          
                      </tbody>
                      <tbody>
                        <tr>
                          <td colspan="3" align="right"><strong>Total cost</strong></td>
                          <td colspan="1"><strong><%= number_to_currency(@recipe.cost, :unit => "RM") %></strong>   <input type="button" value="Update" class="btn btn-info btn-xs" onClick="window.location.reload()"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
        </div>
        <div class="tab-pane fade" id="Material">
          <br>
          <button type="button" class="btn btn-secondary custom-button" data-toggle="modal" data-target="#viewmaterial">
              View All Materials
            </button>
            <br><br>
                      <!-- Modal -->
                    
                      <div class="modal fade" id="viewmaterial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">List of non-food items</h4>
                          </div>
                          <div class="modal-body">
                            <div class="field">
                              <div class="table-responsive">
                                <table class="table table-striped" id="materials_list">
                                  <thead>
                                  <tr>
                                      <th>Material Name</th>
                                      <th>Purchase price</th>
                                      <th>Purchase Quantity</th>
                                      <th>Price per single item</th>
                                      <th>Action</th>
                                  </tr>
                                  </thead>
                                  <tbody id="container_ingredients_list">
                                      <%= render 'material_list', f: @materials, g: @recipe %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="viewingredientclose">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                 <div class="table-responsive">   
                    <table class="table table-hover" id="recipe_material">
                      <thead>
                      <tr>
                          <th>Non-food item</th>
                          <th>Price per unit</th>
                          <th>Quantity</th>
                          <th>Cost to buy Non-food item</th>
                      </tr>
                      </thead>
                        <tbody id="container_recipe_material">
                          <% @recipe.recipe_materials.each do |recipe_material| %>
                            <tr>
                              <td><%= best_in_place recipe_material.material, :material_name %></td>
                              <td><%= number_to_currency(recipe_material.material_price, :unit => "RM") %></td>
                              <td><%= best_in_place recipe_material, :quantity %></td>
                              <td><%= number_to_currency(recipe_material.material_price.to_f * recipe_material.quantity.to_f, :unit => "RM") %></td>
                            </tr>
                          <% end %>
                            
                        </tbody>
                        <tbody>
                          <tr>
                              <td colspan="3" align="right"><strong>Total cost</strong></td>
                              <td colspan="1"><strong><%= number_to_currency(@recipe.material_cost, :unit => "RM") %></strong>   <input type="button" value="Update" class="btn btn-info btn-xs" onClick="window.location.reload()"></td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
        </div>
     
      </div>
 

    
<div class="row">
  <div class="blog-main box text-center">
      <div class="panel panel-default">
      	<div class="panel-heading panel-heading-custom">
      		<h4><strong>Summary of <%= @recipe.title %></strong> </h4>
      	</div>
      	<div class="panel-body">
      	  <div class="table-responsive">
             <table class="table table_sum">
                <thead>
                  <th class="col-md-3"></th>
                  <th></th>
                  <th class="col-md-3"></th>
                  <th></th>
                </thead>
                <tbody>
                  <tr>
                    <td>Rate per hour :  </td>
                    <td> <%= number_to_currency(@recipe.rate_per_hour, :unit => "RM") %></td>
                  </tr>
                  <tr>
                    <td>Time spent in hour : </td>
                    <td><%= @recipe.time_spent_in_hour %></td>
                  </tr>
                  <tr>
                    <td><strong>Overhead cost per hour: </strong></td>
                    <td><%= link_to number_to_currency(current_user.overheads.sum(:total)/((52-current_user.no_of_week_holiday_per_year.to_f)*current_user.hour_worked_per_week.to_f), :unit => "RM"), overheads_path %></td>
                    <td><strong>Labour cost:</strong></td>
                    <td><%= number_to_currency(@labour, :unit => "RM") %></td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td><strong>Percentage profit to add:</strong></td>
                    <td><%= number_to_percentage(@recipe.percentage_profit) %></td>
                    <td><strong>Profit to add to price:</strong></td>
                    <td><%= number_to_currency(@profit, :unit => "RM") %></td>
                  </tr>
                  <tr></tr>
                  <tr>
                    <td></td><td></td>
                    <td><strong>Ingredients cost:</strong></td>
                    <td><%= number_to_currency(@recipe.cost, :unit => "RM") %></td>
                  </tr>
                  <tr>
                    <td></td><td></td>
                    <td><strong>Non-food items cost:</strong></td>
                    <td><%= number_to_currency(@recipe.material_cost, :unit => "RM") %></td>
                  </tr>
                  <tr>
                    <td></td><td></td>
                    <td><strong>Total cost of RECIPE(S):</strong></td>
                    <td><%= number_to_currency(@cake_cost, :unit => "RM") %></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td class="info"><strong>TOTAL of cost of RECIPE(S) including profit:</strong></td>
                    <td class="info"><strong><%= number_to_currency(@total, :unit => "RM") %></td>
                  </tr>
                  <tr class="success">
                    <td><strong>Number of servings :</strong></td>
                    <td><%= @recipe.serving_number %></td>
                    <td><strong>Cost per serving :</strong></td>
                    <td><%= number_to_currency(@total.to_f / @recipe.serving_number.to_f, :unit => "RM") %></td>
                  </tr>
                </tbody>
              </table>
            </div>
      	</div>
      </div>
    </div>
</div>

<div class = "row">
  <br>
    <div class = "pull-right">
    <%= link_to t('.back', :default => t("helpers.links.back")),
                recipes_path, :class => 'custom-cancel-button'  %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_recipe_path(@recipe), :class => 'custom-main-button' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  recipe_path(@recipe),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'custom-delete-button' %>
                  
    </div>
  
</div>
<br>

      </div>
    </div>
  </div>
</div>