<h1>All Users</h1>

<%= link_to "All Users", :action => "index", :class => 'btn btn-success btn-sm'  %> || 
<%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>
<div class="panel panel-default">
	<div class="panel-heading panel-heading-custom">
		List of All Users
	</div>
	<div class="panel-body">
    	
        <table class="display responsive no-wrap" id ="table_datatable">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Last Sign in at</th>
                    <th>Sign In Count</th>
                    <th>Approval Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.last_sign_in_at %></td>
                    <td><%= user.sign_in_count %></td>
                    <td><%= user.approved %></td>
                    <td><%= form_for user do |f| %>
                        <%= f.label :approved, 'Approved?' %>
                        <%= f.check_box :approved %>
                        <%= f.submit 'Save', :class => 'btn btn-success btn-sm' %>
                    <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
	</div>
</div>