<h1><i class="fa fa-users" aria-hidden="true"></i> All Users</h1>

<%= link_to "All Users", :action => "index", :class => 'btn btn-success btn-sm'  %> || 
<%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>
<div class="panel panel-default">
	<div class="panel-heading panel-heading-custom">
		List of All Users
	</div>
	<div class="panel-body">
    	
        <table class="display responsive no-wrap" id ="table_datatable">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Recipes Created</th>
                    <th>Last Sign in at</th>
                    <th>Sign In Count</th>
                    <th>Approval Status</th>
                    <th>Approved?</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                <tr>
                    <td><%= user.email %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.last_name %></td>
                    <td><%= user.recipes.count %></td>
                    <td><%= user.last_sign_in_at %></td>
                    <td><%= user.sign_in_count %></td>
                    <td><%= user.approved %></td>
                    
                        <% if (user == current_user) %>
                            <td></td>
                            <td></td>
                        <% else %>
                            <td>
                            <%= form_for user do |f| %>
                            
                                <%#= f.label :approved, 'Approved?' %>
                                <%= f.check_box :approved %>
                                <%= f.submit 'Save', :class => 'btn btn-default custom-small-button' %>
                            
                            <% end %>
                            </td>
                            <td>
                            <%= link_to '', user_path(user), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-xs btn-danger fa fa-trash' %>
                            </td>
                        <% end %>
                        
                    
                </tr>
                <% end %>
            </tbody>
        </table>
	</div>
</div>