<% if@ingredient.errors.any? %>
<h2>The following errors prevented the ingredient from getting created</h2>
<ul>
    <% @ingredient.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
<div class= "panel-body">
<%= form_for @ingredient do |f| %>
    <div class = "form-group">
        <p>
            <%= f.label :ingredient_name%>
            <%= f.text_field :name, class: "form-control"%>
        </p>
        
        <p>
            <%= f.label :purchase_price %>
            <%= f.number_field :purchase_price, step: 'any', class:"form-control" %>
        </p>
        
        <p>
            <%= f.label :purchase_weight_or_volume %>
            <%= f.number_field :volume, class:"form-control" %>
        </p>
        
        <p>
            <%= f.label :unit %>
            <%= f.text_field :unit, class:"form-control" %>
        </p>
        
        <p>
            <%= f.submit %>
        </p>
    </div>
</div>
<% end %>

<%= link_to "Back to ingredients listing", ingredients_path %>