<h1>Listing all ingredients</h1>



<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewingredient">
      <i class="fa fa-plus" aria-hidden="true"></i> New Ingredient
    </button>
  </div>
  

  
  <!-- Modal -->
      <%= form_for(@ingredient, remote: true, id: 'ingredient-popup-form') do |f| %>
        <div class="modal fade" id="mynewingredient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create new Ingredient</h4>
            </div>
            <div class="modal-body">
              <div class="field">
                <%= f.label :ingredient_name%><br>
                <%= f.text_field :name, class: "form-control ingredient_name"%>
              </div>
              <div class="field">
                <%= f.label :purchase_price %>
                <%= f.number_field :purchase_price, step: 'any', class:"form-control ingredient_purchase_price" %>
              </div>
              <div class="field">
                <%= f.label :purchase_weight_or_volume %>
                <%= f.number_field :volume, class:"form-control ingredient_volume" %>
              </div>
              <div class="field">
                <%= f.label :unit %>
                <%= f.text_field :unit, class:"form-control ingredient_unit" %>
              </div>
              <div id="errors_div"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewingredientclose">Close</button>
              <%= submit_tag "Create", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <!-- Modal -->
  
</div>
<br>
    <table class="table table-striped" id="all_ingredients_list">
    <thead>
    <tr>
        <th>Ingredient Name</th>
        <th>Purchase price</th>
        <th>Purchase weight or volume</th>
        <th>Unit</th>
        <th>Price per single unit</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="container_ingredients">
        <%= render @ingredients %>
    </tbody>
    </table>

<br><br>


