<h1>Showing selected ingredient</h1>

<p>
    Ingredient name: <%= @ingredient.ingredient_name %>
</p>

<p>
    Purchase price: <%= @ingredient.purchase_price %>
</p>

<p>
    Purchased weight or volume: <%= @ingredient.volume %>
</p>

<p>
    Unit: <%= @ingredient.unit %>
</p>

<p>
    Price per single unit: <%= @ingredient.price %>
</p>

<%= link_to "Edit this ingredient", edit_ingredient_path(@ingredient) %>  |
<%= link_to "Back to ingredients listing", ingredients_path %>