<h1>Showing selected ingredient</h1>


    <p><strong>Ingredient name:</strong> <%= @ingredient.name %></p>


    <p><strong>Purchase price: </strong> <%= number_to_currency(@ingredient.purchase_price, :unit => "RM") %></p>

    <p><strong>Purchased weight or volume: </strong><%= @ingredient.volume %></p>

    <p><strong>Unit:</strong><%= @ingredient.unit %></p>
    
    <p><strong>Price per single unit: </strong> <%= number_to_currency(@ingredient.price, :unit => "RM") %></p>


<%= link_to t('.back', :default => t("helpers.links.back")),
              ingredients_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_ingredient_path(@ingredient), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              ingredient_path(@ingredient),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>