<%- model_class = Overhead -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %> 
  <%= link_to t('.new', :default => t("helpers.links.new")),
            new_overhead_path,
            :class => 'btn btn-primary' %></h1>
</div>



<table class="table table-striped" id="all_overheads_list">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:month_1) %></th>
      <th><%= model_class.human_attribute_name(:month_2) %></th>
      <th><%= model_class.human_attribute_name(:month_3) %></th>
      <th><%= model_class.human_attribute_name(:month_4) %></th>
      <th><%= model_class.human_attribute_name(:month_5) %></th>
      <th><%= model_class.human_attribute_name(:month_6) %></th>
      <th><%= model_class.human_attribute_name(:month_7) %></th>
      <th><%= model_class.human_attribute_name(:month_8) %></th>
      <th><%= model_class.human_attribute_name(:month_9) %></th>
      <th><%= model_class.human_attribute_name(:month_10) %></th>
      <th><%= model_class.human_attribute_name(:month_11) %></th>
      <th><%= model_class.human_attribute_name(:month_12) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @overheads.each do |overhead| %>
      <tr>
        <td><%= link_to overhead.title, edit_overhead_path(overhead) %></td>
        <td><%= best_in_place overhead, :month_1 %></td>
        <td><%= best_in_place overhead, :month_2 %></td>
        <td><%= best_in_place overhead, :month_3 %></td>
        <td><%= best_in_place overhead, :month_4 %></td>
        <td><%= best_in_place overhead, :month_5 %></td>
        <td><%= best_in_place overhead, :month_6 %></td>
        <td><%= best_in_place overhead, :month_7 %></td>
        <td><%= best_in_place overhead, :month_8 %></td>
        <td><%= best_in_place overhead, :month_9 %></td>
        <td><%= best_in_place overhead, :month_10 %></td>
        <td><%= best_in_place overhead, :month_11 %></td>
        <td><%= best_in_place overhead, :month_12 %></td>
            <% @total = (overhead.month_1.to_f + overhead.month_2.to_f + overhead.month_3.to_f + overhead.month_4.to_f + overhead.month_5.to_f + overhead.month_6.to_f + overhead.month_7.to_f + overhead.month_8.to_f + overhead.month_9.to_f + overhead.month_10.to_f + overhead.month_11.to_f + overhead.month_12.to_f)  %>
            <% overhead.save_total_cost(@total) %>
        <td><%= overhead.total %></td> 
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_overhead_path(overhead), :class => 'btn btn-default btn-xs' %>
          
          <%= link_to '', overhead_path(overhead), method: :delete, data: {confirm: "Are you sure?"}, :class => 'btn btn-xs btn-danger fa fa-trash' %>
        </td>
      </tr>
    <% end %>
    
  </tbody>
</table>
<br>
<h3>Overhead Summary</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:month_1) %></th>
      <th><%= model_class.human_attribute_name(:month_2) %></th>
      <th><%= model_class.human_attribute_name(:month_3) %></th>
      <th><%= model_class.human_attribute_name(:month_4) %></th>
      <th><%= model_class.human_attribute_name(:month_5) %></th>
      <th><%= model_class.human_attribute_name(:month_6) %></th>
      <th><%= model_class.human_attribute_name(:month_7) %></th>
      <th><%= model_class.human_attribute_name(:month_8) %></th>
      <th><%= model_class.human_attribute_name(:month_9) %></th>
      <th><%= model_class.human_attribute_name(:month_10) %></th>
      <th><%= model_class.human_attribute_name(:month_11) %></th>
      <th><%= model_class.human_attribute_name(:month_12) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
    </tr>
  </thead>
  <tbody>
  <tr>
        <td><strong>Total</strong></td>
        <td><%= current_user.overheads.sum(:month_1) %></td>
        <td><%= current_user.overheads.sum(:month_2) %></td>
        <td><%= current_user.overheads.sum(:month_3) %></td>
        <td><%= current_user.overheads.sum(:month_4) %></td>
        <td><%= current_user.overheads.sum(:month_5) %></td>
        <td><%= current_user.overheads.sum(:month_6) %></td>
        <td><%= current_user.overheads.sum(:month_7) %></td>
        <td><%= current_user.overheads.sum(:month_8) %></td>
        <td><%= current_user.overheads.sum(:month_9) %></td>
        <td><%= current_user.overheads.sum(:month_10) %></td>
        <td><%= current_user.overheads.sum(:month_11) %></td>
        <td><%= current_user.overheads.sum(:month_12) %></td>
        <td><strong><%= current_user.overheads.sum(:total) %></strong></td>
    </tr></tbody>
</table>
<div class="container">
  <div class="row">
    <div class="blog-main box">
      <div class="panel panel-info">
        <div class="panel-heading" id="reports">
          <p><strong>Hours worked per week : </strong>  <%= current_user.hour_worked_per_week %></p>
          <p><strong>No of weeks holiday per year : </strong>  <%= current_user.no_of_week_holiday_per_year %></p>
          <p><strong>No of weeks worked per year : </strong> <%=  (52-current_user.no_of_week_holiday_per_year.to_f) %> / 52 (Total of week per year)</p>
          <p><strong>Hours spent per Annum : </strong><%= ((52-current_user.no_of_week_holiday_per_year.to_f)*current_user.hour_worked_per_week.to_f)  %></p>
          <p class="text-right"><strong>Overhead Cost per hour :  <%= number_to_currency(current_user.overheads.sum(:total)/((52-current_user.no_of_week_holiday_per_year.to_f)*current_user.hour_worked_per_week.to_f), :unit => "RM") %></strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
