
<div class= "row">
  <div class = "container col-md-10">
    <h1><i class="fa fa-th-list" aria-hidden="true"></i> Non-food items/Materials 
      <div class="pull-right">
        <button type="button" class="btn custom-new-button" data-toggle="modal" data-target="#mynewmaterial">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Material
        </button>
      </div>
    </h1>


<%= form_for(@material, remote: true, id: 'material-popup-form', :html => {:class => 'form-horizontal'}) do |f| %>
        <div class="modal fade" id="mynewmaterial" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Create new Material</h4>
            </div>
            
            <div class="modal-body">
              
              <div id="material_error" style="display:none;">
                <div class="row">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        
                        <div class="panel-body">
                          <div id="material_errors_div"></div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              
              <div class="field form-group">
                <%= f.label :material_name, class: "col-sm-4" %>
                <div class="col-sm-8">
                  <%= f.text_field :material_name, class: "form-control material_name" %>
                </div>
              </div>
              <div class="field form-group">
                <%= f.label :purchase_price, class: "col-sm-4" %>
                <div class="col-sm-8">
                  <%= f.number_field :purchase_price, class: "form-control material_name" %>
                </div>
              </div>
              <div class="field form-group">
                <%= f.label :purchase_quantity, class: "col-sm-4" %>
                <div class="col-sm-8">
                  <%= f.number_field :purchase_quantity, class: "form-control material_name" %>
                </div>
              </div>
              
                
              <div id="errors_div"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewmaterialclose">Close</button>
              <%= submit_tag "Create", class: "btn custom-small-new-button" %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      
      
<div class="panel panel-default">
	<div class="panel-heading panel-heading-custom">
		Non-food List / Materials
	</div>
	<div class="panel-body">
    <table class="display responsive no-wrap" id="table_datatable">
      <thead>
        <tr>
            <th>Material Name</th>
            <th>Purchase price</th>
            <th>Purchase quantity</th>
            <th>Price per single item</th>
            <th>Last Modified</th>
            <th>Action</th>
        </tr>
      </thead>
      <tbody id="container_materials">
          <%= render @materials %>
      </tbody>
    </table>
	</div>
</div>

</div>
</div>